<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import Vue before Element -->
    <link rel="icon" href="/web/statics/favicon.ico">
    <script src="https://unpkg.com/vue@2.7.14/dist/vue.js"></script>
    <script>Vue.config.productionTip = false</script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui@2.15.12/lib/index.js"></script>
    <script src="https://unpkg.com/axios@1.2.2/dist/axios.min.js"></script>
    <!-- <script src="/web/js/request.js" type="module"></script> -->
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.12/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/web/css/style.css">
</head>

<body>
    <el-container >
        <!-- this part is navibar,change page through change router's value -->
        <el-header style="text-align:center; font-size: 18px;">
            <div id="app">
                <el-row type="flex" class="row-bg" justify="center">
                    <el-col :span="2">
                        <div class="grid-content"><el-button type="text" icon="el-icon-s-home"
                                @click=changeRouter("首页")>首页</el-button></div>
                    </el-col>
                    <el-col :span="2" :offset=13>
                        <div class="grid-content "><el-button type="text" icon="el-icon-key"
                                @click=changeRouter("密钥")>密钥</el-button></div>
                    </el-col>
                    <el-col :span="2">
                        <div class="grid-content"><el-button type="text" icon="el-icon-s-promotion"
                            @click=changeRouter("发送")>发送</el-button></div>
                    </el-col>
                    <el-col :span="2">
                        <div class="grid-content"
                        ><el-button type="text" icon="el-icon-search"
                        @click=changeRouter("查询")
                            >查询</el-button></div>
                    </el-col>
                    <!-- open blockchain browser -->
                    <el-col :span="2">
                        <div class="grid-content"><el-button type="text" icon="el-icon-discover" @click="openBloBro">区块链浏览器</el-button>
                        </div>
                    </el-col>
                </el-row>
                
        </el-header>
        
        <el-main v-show="this.router=='首页'">
            <div class="texthome">
                <h1 style="height: 100px;color: #409EFF;">SharingFree</h1>
                <p style="color:#909399;text-indent:37px ; text-align: left;">本系统使用RSA算法生成密钥对，
                    RSA私钥用于用户身份认证；用户发送的数据将存储于IPFS，
                    IPFS返回的CID（IPFS Hash）使用用户的RSA私钥加密后存储于区块链;
                    区块链部分使用Hyperledger Fabric,并用Hyperledger Explorer追踪交易</p>
            </div>
            <el-row>
                <!-- <el-col :span="4" :offset=3> -->
                <div style="width: 1230px;margin: auto;" >
                <el-col style="width: 270px;" >
                    <el-card :body-style="{ padding: '0px' }" shadow="hover" >
                        <img src="/web/statics/keys.jpeg" class="image"  >
                        <div style="padding:14px 14px 0px 14px;">
                            <div class="cardtext">
                                <span>本系统使用RSA算法生成密钥对，RSA是被研究得最广泛的公钥算法，普遍被认为是目前最优秀的公钥方案之一。
                                    本系统中使用的密钥长度为1024位</span>
                            </div>
                            <div class="bottom clearfix" style="border-top: #eaeefb;border-top-width: 1px;border-top-style: solid;" @click="changeRouter('密钥')">
                                <el-button type="text" class="button" >生成密钥</el-button>
                            </div>
                        </div>

                    </el-card>
                </el-col>
                <el-col style="width: 320px;padding-left: 50px;" >
                    <el-card :body-style="{ padding: '0px' }" shadow="hover">
                        <img src="/web/statics/send.jpeg" class="image">
                        <div style="padding:14px 14px 0px 14px;">
                            <div class="cardtext">
                                <span>使用本系统向朋友发送数据会将数据存入IPFS网络中（IPFS Hash将使用你的私钥加密），传输记录将记入区块链中，永久不可被篡改</span>
                            </div>
                            <div class="bottom clearfix" style="border-top: #eaeefb;border-top-width: 1px;border-top-style: solid;"@click="changeRouter('发送')">
                                <el-button type="text" class="button" >发送文件</el-button>
                            </div>
                        </div>
                    </el-card>
                </el-col>
                <el-col style="width: 320px;padding-left: 50px;" >
                    <el-card :body-style="{ padding: '0px' }" shadow="hover">
                        <img src="/web/statics/search.jpeg" class="image" >
                        <div style="padding:14px 14px 0px 14px;">
                            <div class="cardtext" >
                                <span>当你的朋友通知你发送给你文件后，你可以通过本系统查询功能检索你收到的文件，然后点击按钮进行下载，还可以查询此次传输在区块链中的记录</span>
                            </div>
                            <div class="bottom clearfix" style="border-top: #eaeefb;border-top-width: 1px;border-top-style: solid;" @click="changeRouter('查询')">
                                <el-button type="text" class="button" >查询文件</el-button>
                            </div>
                        </div>

                    </el-card>
                </el-col>
                <el-col style="width: 320px;padding-left: 50px;" >
                    <el-card :body-style="{ padding: '0px' }" shadow="hover">
                        <img src="/web/statics/blockchain.jpeg" class="image">
                        <div style="padding:14px 14px 0px 14px;">
                            <div class="cardtext">
                                <span>使用区块链浏览器可以方便地通过Fabric交易id查询交易详情，包含时间戳、背书策略与读写集等。还可以了解到当前区块链的运行情况</span>
                            </div>
                            <div class="bottom clearfix" style="border-top: #eaeefb;border-top-width: 1px;border-top-style: solid;" @click="openBloBro">
                                <el-button type="text" class="button" >区块链浏览器</el-button>
                            </div>
                        </div>
                    </el-card>
                </el-col>
                </div>
            </el-row>
        </el-main>
        <el-main v-show="this.router=='密钥'">
            <img src="/web/statics/keys.jpeg" alt="" style="height: 200px;margin: 30px;">
            <h1 style="color: #606266;margin-bottom: 30px;">RSA密钥对生成</h1>
            <el-button type="primary" @click="getRSAKey">生成密钥对</el-button>
            <el-button type="primary" @click="restoreRSApk">恢复公钥</el-button>
            <el-dialog :visible.sync="rsa.dialogVisible_gen" width="50%" :data="rsa" fullscreen="">
                <div style="width: 50%;margin: auto;">
                <h2 style="color:#F56C6C;">rsa私钥,请勿泄露:</h2>
                <span style="font-size:smaller;color:#F56C6C;">{{rsa.sk}}</span>
                <h2 style="color:#67C23A;margin-top: 50px;">rsa公钥,接受文件使用:</h2>
                <span style="font-size: smaller;color: #67C23A;">{{rsa.pk}}</span>
                </div>
                <span slot="footer" class="dialog-footer">
                    <el-button type="primary" @click="cleanKey">确 定</el-button>
                </span>
            </el-dialog>
            <el-dialog title="请填入私钥" :visible.sync="rsa.dialogVisible_restore" width="50%">
                <el-input type="textarea" :rows="11" placeholder="请输入内容" v-model="rsa.sk">
                </el-input>
                <span slot="footer" class="dialog-footer">
                    <el-button type="primary" @click="getRSApk()">恢复公钥</el-button></el-button></el-button>
                </span>
            </el-dialog>
            <el-dialog :visible.sync="rsa.dialogVisible_restore_suc" width="50%">
                <div style="width: 50%;margin: auto;">
                <h2 style="color:#67C23A;margin-top: 50px;">rsa公钥,接受文件使用:</h2>
                <span style="font-size: smaller;color: #67C23A;">{{rsa.pk}}</span>
                </div>
                <span slot="footer" class="dialog-footer">
                    <el-button type="primary"
                        @click="rsa.dialogVisible_restore_suc=false">确定</el-button></el-button></el-button>
                </span>
            </el-dialog>
        </el-main>
        <el-main v-show="this.router=='发送'">
            <img src="/web/statics/send.jpeg" alt="" height="200px" style="height: 200px;margin: 30px;">
            <div style="width: 400px; margin: auto;">
                <el-form :model="send.sendForm" status-icon ref="send.sendForm" label-width="100px" class="demo-ruleForm"
                    label-position="top" style="text-align: left;"
                    v-loading="loading" element-loading-text="上传中">
                    <el-form-item label="接受者公钥" prop="recevierPk">
                        <el-input v-model="send.sendForm.recevier" type="textarea" :rows="2" v-model="textarea"></el-input>
                    </el-form-item>

                    <el-form-item label="发送者私钥" prop="senderSk">
                        <el-input v-model="send.sendForm.sender" type="textarea" :rows="2" v-model="textarea"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-upload class="upload-demo" ref="upload" action="#" :limit="1" :on-exceed="handleExceed"
                            :on-remove="handleRemove" :auto-upload="false">
                            <el-button slot="trigger" size="small" type="primary"
                                style="margin-top: 10px;margin-bottom: 10px;">选取文件</el-button>
                        </el-upload>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('send.sendForm')">提交</el-button>
                        <el-button @click="resetForm('send.sendForm')">重置</el-button>
                    </el-form-item>
                </el-form>
                <el-dialog :visible.sync="send.sendForm.dialogVisible_txid" width="30%" :data="send.sendForm">
                    <h2 style="color: #67C23A;">区块链交易ID:</h2>
                    <span>{{send.sendForm.txid}}</span>
                    <span slot="footer" class="dialog-footer">
                        <el-button type="primary" @click="goDetails">详 情</el-button></el-button>
                    </span>
                </el-dialog>
            </div>
        </el-main>
        <el-main v-show="this.router=='查询'">
            <img src="/web/statics/search.jpeg" alt="" height="200px" style="height: 200px;margin: 30px;">
            <div style="width: 400px;margin: auto;" v-loading="loading" element-loading-text="查询中">
                <el-input type="textarea" :rows="2" placeholder="填入你的私钥" v-model="search.sk">
                </el-input>
                <el-button type="primary" plain style="margin: 20px;" @click="getRecords(search.sk)">查询</el-button>
                
            </div>
            <el-dialog
            :visible.sync = search.dialogTableVisible 
            :fullscreen= true
            >
                <el-table :data="search.records" style="width: 80%;margin: auto;" type="index" v-loading="loading" element-loading-text="请求下载中"> 
                    <el-table-column type="expand">
                        <template slot-scope="props">
                            <el-form label-position="left" inline class="demo-table-expand">
                                <el-form-item label="时间:">
                                    <span style="text-align: left;">{{ props.row.timestamp }}</span>
                                </el-form-item>
                                <el-form-item label="发送者:">
                                    <span>{{ props.row.sender }} {{props.row.sender==search.pk?"（我）":""}} </span>
                                </el-form-item>
                                <el-form-item label="接受者:">
                                    <span>{{ props.row.receiver }}{{props.row.receiver==search.pk?"（我）":""}}</span>
                                </el-form-item>
                                <el-form-item label="文件名:">
                                    <span>{{ props.row.filename }}</span>
                                </el-form-item>
                                <el-form-item label="区块链交易ID:">
                                    <span>{{ props.row.txid }}</span>
                                </el-form-item>
                            </el-form>
                        </template>
                    </el-table-column>
                    
                    <el-table-column label="序号" type="index">
                    </el-table-column>
                    <el-table-column label="时间" prop="timestamp">
                    </el-table-column>
                    <el-table-column label="文件名" prop="filename">
                    </el-table-column>
                    <el-table-column label="区块链交易ID" prop="txid">
                    </el-table-column>
                    <el-table-column
                        fixed="right"
                        label="操作"
                        width="100">
                        <template slot-scope="scope">
                            <el-button @click="searchDownloadlink(scope.row)" type="text" size="small">下载</el-button>
                            <el-button @click="searchDetails(scope.row)" type="text" size="small">详情</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <span slot="footer" class="dialog-footer">
                    <el-button type="primary" @click="search.dialogTableVisible = false">确 定</el-button>
                  </span>
            </el-dialog>

            
        </el-main>
        </div>
    </el-container>
</body>
<script>
    const vm = new Vue({
        el: '#app',
        data: function () {
            return {
                // data of home page
                router: "首页",
                loading:false,
                //data of RSAkey page
                rsa: {
                    dialogVisible_gen: false,
                    dialogVisible_restore: false,
                    dialogVisible_restore_suc: false,
                    pk: '',
                    sk: '',
                },
                //data of send page
                send:{
                    sendForm: {
                    'sender': '',
                    'recevier': '',
                    'file': '',
                    dialogVisible_txid: false,
                    txid: '正在加载...',
                    },
                    getfiledata: { 'sk': '', filename: '' },

                },
                search: {
                    sk: '',
                    pk: '',
                    records: [],
                    link: '',
                    dialogTableVisible: false
                },
                //public
                url: 'http://1.14.74.234:9090/',
                blokchainbrowserurl: 'http://1.14.74.234:8080/'
                // url: '1.14.74.234:9090/',
                // blokchainbrowserurl:'1.14.74.234:8080/'
            }
        },
        computed: {
            //order records by time
            sortrecords() {
                const arr = vm.search.records
                arr.sort((a, b) => {
                    return b.timestamp - a.timestamp
                })
                return arr
            }
        },
    

    
        methods: {
        changeRouter(router){
            vm.router=router
        },

        //methods of home page
        // openBloBro(){
        //     window.open(vm.blokchainbrowserurl)
        // },
        openBloBro(){
            setTimeout(() => {
                window.open(vm.blokchainbrowserurl);
            }, 1000); // 延迟 1 秒后调用 window.open
        },
        changeFixed(clientHeight){ //动态修改样式
        console.log(clientHeight);
        console.log(window.$refs.page.$el.style.height);
        window.$refs.page.$el.style.height = clientHeight-200+'px';
          },
        //methods of RSAkey page
        getRSAKey() {
            // console.log("222")
            axios.get(vm.url+'rsakey').then(
                function (response) {
                    vm.rsa.sk = response.data.sk,
                    vm.rsa.pk = response.data.pk
                    vm.rsa.dialogVisible_gen = true
                }
            ).catch(
                function(response){
                    vm.$message.warning(response.response.data)

                    vm.loading=false}
            )
        },
        restoreRSApk() {
            vm.rsa.sk = '',
            vm.rsa.pk = '',
            vm.rsa.dialogVisible_restore = true
        },
        getRSApk() {
            vm.rsa.dialogVisible_restore = false
            axios.post(vm.url + 'rsakeyrestore', { 'sk': vm.rsa.sk }, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(function (response) {
                vm.rsa.pk = response.data
                vm.rsa.dialogVisible_restore_suc = true
            }).catch(
                function(response){
                    vm.$message.warning(response.response.data)
                    vm.loading=false}
            )
        },
        cleanKey() {
            vm.rsa.dialogVisible_gen = false,
                vm.rsa.sk = '',
                vm.rsa.pk = ''
        },

        //methods of send page
        submitForm: function () {
            vm.loading=true
            // console.log(vm.send.sendForm.recevier)
            //remove /r /n
            vm.send.sendForm.recevier=vm.send.sendForm.recevier.replace(/\r|\n/ig,"")
            vm.send.sendForm.file = vm.$refs.upload._data.uploadFiles[0].raw
            axios.post(vm.url + 'upload', vm.send.sendForm, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(
                function (response) {
                    vm.send.sendForm.txid = response.data.txid
                    vm.resetForm()
                    vm.send.sendForm.dialogVisible_txid = true
                }
            ).catch(function(response){
                    vm.$message.warning(response.response.data)
                    vm.loading=false
                },
                vm.send.sendForm.dialogVisible_txid = false,
                vm.$message.warning("服务器错误"),
            );
        },
        handleExceed() {
            this.$message.warning("一次发送只能选择一个文件")
        },
        goDetails: function () {
            window.open(vm.blokchainbrowserurl+"?tab=transactions&transId=" + vm.send.sendForm.txid)
            vm.resetForm()
        },
        resetForm: function () {
            vm.send.sendForm.sender = '',
            vm.send.sendForm.recevier = '',
            vm.send.sendForm.file = ''
            vm.$refs.upload._data.uploadFiles=[]
            vm.loading=false
        },
        handleRemove(file, fileList) {
        },
        //search
        searchDetails(row){
            window.open(vm.blokchainbrowserurl+"?tab=transactions&transId=" + row.txid)
        },
        searchDownloadlink(row){
            vm.loading=true
            // console.log(row)
            if(vm.search.pk==row.sender){
                console.log(vm.search.sk,row.secid,row.filename)
                vm.getFile(vm.search.sk,row.secid,row.filename)
            }else{
                vm.getFile(vm.search.sk,row.recid,row.filename)
            }
        },
        getFile(sk, ecid, filename) {
            // vm.loading=false
            axios.post(vm.url+'getfile', { 'sk': sk, 'ecid': ecid, 'filename': filename }, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(function(response){
                console.log(response)
                window.open(response.data)
                vm.loading=false
            })
        },
        getRecords(sk) {
            vm.loading=true
            axios.post(vm.url + 'getrecords', { 'sk': sk }, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(
                function (response) {
                    vm.search.records = response.data
                    vm.search.dialogTableVisible=true
                    vm.loading=false
                }
            ).catch(
                function(response){
                    vm.$message.warning(response.response.data)
                    vm.loading=false
                }
            )
            axios.post(vm.url+'rsakeyrestore', {'sk':sk},{
            headers: {
                'Content-Type': 'multipart/form-data'
            }
            }).then(function(response){
                    vm.search.pk=response.data
            })

        },
    }
    })


</script>
<script>

</script>

</html>
